<section id="footer">
    <div class="container">
        <h1>Contact Me</h1>
        <div id="copyMessage" style="display: none; color: green; font-size: 12px;">Email copied to clipboard!</div>
        <div class="links">
            <div class="item">
                <p class="type grey">Email</p>
                <p class="info grey">GitHub</p>
            </div>
            <div class="item bold">
                <p class="type copy-text" id="copyTarget">me@dylanhoag.dev</p>
                <a class="info" href="https://www.github.com/clarkfork">github.com/clarkfork</a>
            </div>
        </div>
        <div class="back-to-top">
            <div class="back-to-top" id="back-to-top">Back to Top</div>
        </div>
    </div>
</section>