<section id="footer">
    <div class="container">
        <h1>Contact Me</h1>
        <div class="links">
            <div class="item">
                <p class="type grey">Email</p>
                <p class="info grey">GitHub</p>
            </div>
            <div class="item bold">
                <p class="type">me@dylanhoag.dev</p>
                <p class="info">github.com/clarkfork</p>
            </div>
        </div>
        <div class="back-to-top">
            <div class="back-to-top" id="back-to-top">Back to Top</div>
        </div>
    </div>
</section>