<section id="header">
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">home</a></li>
            <li><a href="/services">services</a></li>
            <li><a href="/work">work</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
        <div class="dark-mode-toggle">
            <img src="/assets/svgs/moon.svg" alt="Dark Mode" id="moon-icon">
            <img src="/assets/svgs/sun.svg" alt="Light Mode" id="sun-icon">
        </div>
    </nav>
</section>