---
title: 'Contact'
description: 'Description for <meta> and OG tags'
preloadImg:
pageCSS:
  - '/assets/css/contact.css'
pageJS:
permalink: 'contact/'
eleventyNavigation:
    key: Contact
    order: 1000
---

{% extends "layouts/base.html" %}

{% block body %}

<!--Need an awesome web developer? Send me an email or submit the contact fsorm below!-->
<!-- WHEN i add the 60th character, it grows font size. 59 characters is normal-->

<section id="page-top">
    <div class="top-content">
      <h1>Contact</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, exercitationem?</p>
    </div>
  </section>

<section id="form">
  <form name="Contact Form" method="post" netlify>
    <label>
        Name
        <input required type="text" name="name" placeholder="Name">
    </label>
    <label>
        Email
        <input required type="email" name="email" placeholder="Email">
    </label>
    <label>
        Phone
        <input required type="number" name="phone" placeholder="Phone">
    </label>
    <label>
        Message
        <textarea required name="Message" placeholder="Write message..."></textarea>
    </label>
    <button type="submit">Send Message</button>
</form>
</section>

{% endblock %}