---
title: 'Services'
description: 'Description for <meta> and OG tags'
preloadImg:
  - '/assets/images/demo.jpg'
  - '/assets/images/demo.jpg'
pageCSS:
  - '/assets/css/services.css'
pageJS:
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 1000
---

{% extends "layouts/base.html" %}

{% block body %}

<section id="top">
    <h1 class="title">services</h1>
    <p>$0 down for a standard 5 page small business website. If you need more than that then we have to do custom pricing based on the scope of work, number of additional pages, and time involved.</p>
</section>

<section id="services">
  <div class="service">
    <div class="check-icon">
      <img src="/assets/svgs/check.svg" alt="Check Icon">
    </div>
    <div class="service-name">
      Hosting Fees Included
    </div>
  </div>
  <div class="service">
    <div class="check-icon">
      <img src="/assets/svgs/check.svg" alt="Check Icon">
    </div>
    <div class="service-name">
      Unlimited Edits
    </div>
  </div>
  <div class="service">
    <div class="check-icon">
      <img src="/assets/svgs/check.svg" alt="Check Icon">
    </div>
    <div class="service-name">
      24/7 Customer Service
    </div>
  </div>
  <div class="service">
    <div class="check-icon">
      <img src="/assets/svgs/check.svg" alt="Check Icon">
    </div>
    <div class="service-name">
      Web Design & Development
    </div>
  </div>
  <div class="service">
    <div class="check-icon">
      <img src="/assets/svgs/check.svg" alt="Check Icon">
    </div>
    <div class="service-name">
      100 Page Scores
    </div>
  </div>
  <div class="service">
    <div class="check-icon">
      <img src="/assets/svgs/check.svg" alt="Check Icon">
    </div>
    <div class="service-name">
      Google Analtyics
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <p>$0 down for a standard 5 page small business website. If you need more than that then we have to do custom pricing based on the scope of work, number of additional pages, and time involved.</p>
    <ul>
      <li>Aside I also enjoy building my own projects, mostly to scrath my own itch. I've built products like FlagDB and Glow, and am currently building a tool to make the process of generating mobile wallet passes easier.</li>
      <li>Before, I was working with Kalo (which eventually became Polywork) where I was the first UI Engineering hire. My responsibilities included building out the design system as well as ensuring a high bar of design quality across the product.</li>
      <li>I'm currently working with MoonPay to help build the future of payments. Before that, I was working with Monzo - the fastest growing bank in the UK. Originally joining as a product designer, I transitioned into a web engineer role where I worked with a variety of teams to build products to help millions of customers.</li>
    </ul>
    <p class="space">$0 down for a standard 5 page small business website. If you need more than that then we have to do custom pricing based on the scope of work, number of additional pages, and time involved.</p>
    <p class="space">We specialize in small business web design and development for clients anywhere in the US. Every line of code is written by hand to ensure the best performance, which helps bring in more customers to your site and bring more revenue to your business</p>
  </div>
</section>

{% endblock %}