---
title: 'Services'
description: 'Description for <meta> and OG tags'
preloadImg:
pageCSS:
  - '/assets/css/services.css'
pageJS:
  - '/assets/js/hidden-content.js'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 1000
---

{% extends "layouts/base.html" %}

{% block body %}

<!-- Complete website and google ads plans to bring you business  -->

<section id="page-top">
  <div class="top-content">
    <h1>Services</h1>
    <p>Complete website and google ads plans to bring you business</p>
  </div>
</section>

<section id="services">
  <div class="service-cards">
    <div class="card-container">
    <div class="card clickable">
      <div class="logos">
        <img src="/assets/svgs/html5.svg" width="20" height="20" alt="Logo Service">
        <img src="/assets/svgs/css3.svg" width="20" height="20" alt="Logo Service">
        <img src="/assets/svgs/javascript.svg" width="20" height="20" alt="Logo Service">
        <img src="/assets/svgs/figma.svg" width="20" height="20" alt="Logo Service">
      </div>
      <h1>Website Package</h1>
      <h2>$50/mo</h2>
      <p>An all-inclusive website package that includes a custom-coded website, unlimited edits, hosting, analytics, help with your Google Profile, and much more.</p>
      <div class="hidden-content hide">
        <p>An all-inclusive website package that includes a custom-coded website, unlimited edits, hosting, analytics, help with your Google Profile, and much more.</p>
      </div>
      <div class="sub">
        <p>You always own your domain. Cancel anytime with no fees or hassle. Hosting costs are built-into my pricing.</p>
      </div>
      <div class="view-more" style="display: block;">
        <p>click to view more</p>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card clickable">
      <div class="logos">
        <img src="/assets/svgs/gads.svg" width="20" height="20" alt="Logo Service">
        <img src="/assets/svgs/gogsrch.png" width="20" height="20" alt="Logo Service">
        <img src="/assets/svgs/ganalytics.svg" width="20" height="20" alt="Logo Service">
      </div>
      <h1>Web + Google Ads</h1>
      <h2>$100/mo</h2>
      <p>This includes my website package + awesome google ads management. I build campaigns that drive your site to the top of google, and maintain the ads to optimize results.</p>
      <div class="hidden-content hide">
        <p>An all-inclusive website package that includes a custom-coded website, unlimited edits, hosting, analytics, help with your Google Profile, and much more.</p>
      </div>
      <div class="sub">
        <p>You always own your domain. Cancel anytime with no fees or hassle. Hosting costs are built-into my pricing.</p>
      </div>
      <div class="view-more" style="display: block;">
        <p>click to view more</p>
      </div>
    </div>
  </div>
  </div>

</section>


{% endblock %}