---
title: 'Work'
description: 'Description for <meta> and OG tags'
preloadImg:
pageCSS:
  - '/assets/css/work.css'
pageJS:
permalink: 'work/'
eleventyNavigation:
    key: Work
    order: 1000
---

{% extends "layouts/base.html" %}

{% block body %}

<section id="top">
  <div class="title-desc">
      <h1 class="title">Contact</h1>
      <p>Need an awesome web developer? Send me an email or submit the contact form below!</p>
  </div>
</section>

<!-- and-coded websites that were designed with purpose -->


<section id="work">
  <div class="container">
    <a class="item" href="https://www.jordanlawnandlandscape.com/">
      <div class="image">
        <picture>
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="/assets/images/jordansiteM.webp">
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="/assets/images/jordansite.webp">
          <img loading="auto" decoding="async" width="270" height="160" src="/assets/images/jordansite.webp" alt="people">
      </picture>
    </div>
      <div class="content">
        <h2>Jordan Lawn & Landscape</h2>
        <p><b>Missoula, MT.</b> I upgraded the website, and form submissions went up 3x from the redesign</p>
        <h5 class="url">jordanlawnandlandscape.com ></h5>
      </div>
    </a>
    <a class="item" href="https://www.stingerstattooboise.com/">
      <div class="image">
        <picture>
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="/assets/images/stingersiteM.webp">
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="/assets/images/stingersite.webp">
          <img loading="auto" decoding="async" width="270" height="160" src="/assets/images/stingersite.webp" alt="people">
      </picture>
      </div>
      <div class="content">
        <h2>Stingers Tattoo</h2>
        <p><b>Boise, ID.</b> I built them an awesome site that brought them to 2-3 daily form submissions</p>
        <h5 class="url">stingerstattooboise.com ></h5>
      </div>
    </a>
    <a class="item" href="https://www.truecoat.netlify.app/">
      <div class="image">
        <picture>
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="/assets/images/truecoatsiteM.webp">
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="/assets/images/truecoatsite.webp">
          <img loading="auto" decoding="async" width="270" height="160" src="/assets/images/truecoatsite.webp" alt="people">
      </picture>
      </div>
      <div class="content">
        <h2>True Coat Painting</h2>
        <p><b>Reno, NV.</b> I helped transform their basic wix site into a custom-coded professional website</p>
        <h5 class="url">truecoat.netlify.app ></h5>
      </div>
    </a>
  </div>
</section>

{% endblock %}