---
title: 'Work'
description: 'Description for <meta> and OG tags'
preloadImg:
  - '/assets/images/demo.jpg'
  - '/assets/images/demo.jpg'
pageCSS:
  - '/assets/css/work.css'
pageJS:
permalink: 'work/'
eleventyNavigation:
    key: Work
    order: 1000
---

{% extends "layouts/base.html" %}

{% block body %}

<section id="top">
    <h1 class="title">Work</h1>
    <p>I build small business websites for clients anywhere in the US.</p>
</section>

<section id="work">
  <div class="container">
    <a class="item" href="https://www.jordanlawnandlandscape.com/">
      <div class="image">
        <picture>
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="/assets/images/jordansiteM.webp">
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="/assets/images/jordansite.webp">
          <img loading="lazy" decoding="async" src="/assets/images/jordansite.webp" alt="people">
      </picture>
    </div>
      <div class="content">
        <h2>Jordan Lawn & Landscape</h2>
        <p>Missoula, MT. I upgraded the website, and form submissions went up 3x from the redesign</p>
      </div>
    </a>
    <a class="item" href="https://www.stingerstattooboise.com/">
      <div class="image">
        <picture>
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="/assets/images/stingersiteM.webp">
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="/assets/images/stingersite.webp">
          <img loading="lazy" decoding="async" src="/assets/images/stingersite.webp" alt="people">
      </picture>
      </div>
      <div class="content">
        <h2>Stingers Tattoo</h2>
        <p>Boise, ID. I built them an awesome site that brought them to 2-3 daily form submissions</p>
      </div>
    </a>
    <a class="item" href="https://www.truecoat.netlify.app/">
      <div class="image">
        <picture>
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="/assets/images/truecoatsiteM.webp">
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="/assets/images/truecoatsite.webp">
          <img loading="lazy" decoding="async" src="/assets/images/truecoatsite.webp" alt="people">
      </picture>
      </div>
      <div class="content">
        <h2>True Coat Painting</h2>
        <p>Reno, NV. I helped transform their basic wix site into a custom-coded professional website</p>
      </div>
    </a>
  </div>
</section>

{% endblock %}