/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0em) {
  :root {
    --dark: #f7f7f7;
    --light: #111010;
    --bodyText: #111010;
    --grey: #181414;
    --greyLight: #383636;
    --inputBackground: #f7f7f7;
    --borderColor: #333333;
    --buttonHover: #444444;
    --buttonColor: #333333;
    --workbg: #fff;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  [data-theme="dark"] {
    --dark: #111010;
    --light: #ffffff;
    --bodyText: #f0f0e8;
    --grey: #eeeeee;
    --greyLight: #cccccc;
    --inputBackground: #1e1e1e;
    --borderColor: #333333;
    --buttonHover: #444444;
    --buttonColor: #333333;
    --workbg: #000;
    --shadow: 0 4px 8px rgba(192, 192, 192, 0.1);
  }
  /* Geist Regular */
  @font-face {
    font-style: normal;
    font-family: "Geist";
    font-weight: 400;
    /* Normal */
    font-display: swap;
    src: local(""), url("/assets/fonts/Geist-Regular.woff2") format("woff2"), url("/assets/fonts/Geist-Regular.woff") format("woff");
  }
  /* Geist Medium */
  @font-face {
    font-style: normal;
    font-family: "Geist";
    font-weight: 700;
    /* Semibold */
    font-display: swap;
    src: local(""), url("/assets/fonts/Geist-Medium.woff2") format("woff2"), url("/assets/fonts/Geist-Medium.woff") format("woff");
  }
  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  body,
  html {
    font-family: "Geist", sans-serif;
    /* Fallback font */
    margin: 0;
    padding: 0;
    color: var(--bodyText);
    overflow-x: hidden;
    background-color: var(--dark);
  }
  *,
  *:before,
  *:after {
    margin: 0;
    box-sizing: inherit;
    padding: 0;
  }
  body {
    transition: background-color 0.3s;
    padding-left: 6vw;
    padding-right: 6vw;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--light);
  }
  p,
  li,
  a {
    font-family: 'Geist', sans-serif;
    /* Fallback font */
  }
  a:hover,
  button:hover {
    cursor: pointer;
  }
  .skip {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1111111;
  }
}
/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
}
/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
  body,
  html {
    font-size: 0.55vw;
  }
}
/* HEADER */
/* HEADER */
/* HEADER */
#header {
  padding-top: 45px;
  padding-bottom: 45px;
}
#header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .nav-links {
  list-style: none;
  display: flex;
  gap: 17px;
  /* Add space between links */
}
#header .nav-links a {
  text-decoration: none;
  color: var(--light);
  font-size: 17px;
}
#header .dark-mode-toggle {
  display: flex;
  margin-left: auto;
  /* Push the toggle to the right */
  align-content: center;
}
#header .dark-mode-toggle img {
  width: 20px;
  /* Adjust size as needed */
  height: auto;
}
#moon-icon {
  display: block;
}
#sun-icon {
  display: none;
}
[data-theme="light"] #moon-icon {
  display: none;
}
[data-theme="light"] #sun-icon {
  display: block;
}
/* FOOTER */
/* FOOTER */
/* FOOTER */
#footer {
  padding-top: 45px;
  padding-bottom: 45px;
}
#footer .container h1 {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
}
#footer .links {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}
#footer .item {
  display: flex;
  flex-direction: column;
}
#footer .type {
  margin-bottom: 15px;
}
#footer .bold {
  font-weight: bold;
}
#footer .info {
  margin-top: 0;
  text-decoration: none;
  color: var(--light);
}
#footer .grey {
  color: var(--greyLight);
}
#footer .back-to-top {
  margin-top: 28px;
  font-size: 14px;
  font-weight: 300;
  color: var(--greyLight);
}
#top {
  padding-top: 35px;
  padding-bottom: 35px;
}
#top .title-desc h1 {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 25px;
}
#top .title-desc p {
  margin-top: 15px;
  font-size: 1.25rem;
  line-height: 1.75;
  font-weight: 400;
}
#work {
  padding-top: 30px;
  padding-bottom: 30px;
}
#work .container h1 {
  font-weight: 700;
  font-size: 20px;
}
#work .item {
  display: block;
  padding: 20px;
  background-color: var(--workbg);
  margin-top: 23px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  box-shadow: var(--shadow);
  border-radius: 5px;
}
#work .image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#work .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#work .content {
  margin-top: 15px;
}
#work .content h2 {
  font-size: 20px;
  color: var(--light);
  font-weight: 700;
}
#work .content p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
  color: var(--grey);
}
#work .content h5 {
  font-size: 12px;
  color: var(--greyLight);
  line-height: 1.5;
}
#work .url {
  font-size: 16px;
  font-weight: 700;
}
#work .content h2,
#work .content h5,
#work .content p {
  padding: 2px 0;
}
