#services {
  padding-top: 35px;
  padding-bottom: 35px;
}
#services .service-cards {
  margin-top: 35px;
}
#services .card-container {
  display: flex;
  justify-content: center;
}
#services .card-container .card {
  margin-top: 15px;
  background: var(--workbg);
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 20px;
  max-width: 400px;
  text-align: left;
}
#services .card-container .card .logos {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
#services .card-container .card .logos img {
  display: inline-block;
}
#services .card-container .card h1 {
  font-size: 22px;
  font-weight: 700;
  color: var(--light);
  margin-bottom: 10px;
}
#services .card-container .card h2 {
  font-size: 19px;
  color: var(--grey);
  margin-bottom: 20px;
}
#services .card-container .card p {
  font-size: 15px;
  color: var(--greyLight);
  line-height: 1.5;
}
#services .card-container .sub p {
  margin-top: 10px;
  font-size: 13px;
}
