/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

#content {
    padding-top: 30px;
    padding-bottom: 30px;

    .container h1 {
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 20px;
    }

    .content {
        margin-top: 18px;
    }

    .content p {
        font-size: 15px;
        line-height: 1.75;
    }
    .content p a {
        text-decoration: underline;
        color: var(--light);
    }
}
