#services {
    padding-top: 35px;
    padding-left: 6vw;
    padding-right: 6vw;
    h1 {
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 23px;
    }
    p {
        font-size: 15px;
        line-height: 1.75;
    }
   .service {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .check-icon {
        margin-right: 10px;
        width: 16px;
        height: auto;
        display: flex;
        align-items: center;
    }
    .service-name p {
        font-size: 15px;
    } 
    ul {
        padding-left: 20px;
    }

    li {
        margin-top: 15px;
        padding-left: 10px;
    }
    .block {
        padding-top: 20px;
    }
}


