#top {
    padding: 35px 6vw;
    h1 {
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 23px;
    }
    p {
        margin-top: 15px;
        font-size: 16px;
        line-height: 1.75;
    }
}

#work {
    padding: 30px 6vw;

    .item {
        padding: 30px;
        background-color: var(--workColor);
        margin-top: 23px;
    }
    .container h1 {
        font-weight: 700;
        font-size: 20px;
    }
    .image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .content {
        margin-top: 15px;
    }
    .content h2 {
        font-size: 20px;
        font-weight: 700;
        color: var(--light);
    }
    .content p {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 300;
        color: var(--greyLight);
    }
}