---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg:
  - '/assets/images/profileM.webp'
pageCSS:
  - '/assets/css/critical.css'
  - '/assets/css/local.css'
pageJS:
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block body %}

<section id="critical">
  <div class="container">
    <div class="content">
      <h1>Hey, I'm Dylan.</h1>
      <p>A web developer from Boise. I hand-code websites for small businesses.</p>
    </div>
    <div class="profile">
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/profileM.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/profile.webp">
        <img loading="eager" decoding="async" width="325" height="325" src="/assets/images/profile.webp" alt="people">
    </picture>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <h1 class="title">What I Do</h1>
    <div class="content">
      <p><b>I charge $0 down and $50 a month.</b> This all-inclusive service covers everything from building to ongoing management, ensuring you never have to worry about a thing. <b><a href="/services">Learn More</a></b></p>
    </div>
  </div>
</section>


<section id="work">
  <div class="container">
    <h1>My Work</h1>
    <a class="item" href="https://www.jordanlawnandlandscape.com/">
      <div class="image">
        <picture>
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="/assets/images/jordansiteM.webp">
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="/assets/images/jordansite.webp">
          <img loading="auto" decoding="async" width="270" height="160" src="/assets/images/jordansite.webp" alt="people">
      </picture>
    </div>
      <div class="content">
        <h2>Jordan Lawn & Landscape</h2>
        <p><b>Missoula, MT.</b> I upgraded the website, and form submissions went up 3x from the redesign</p>
        <h5 class="url">jordanlawnandlandscape.com ></h5>
      </div>
    </a>
    <a class="item" href="https://www.stingerstattooboise.com/">
      <div class="image">
        <picture>
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="/assets/images/stingersiteM.webp">
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="/assets/images/stingersite.webp">
          <img loading="auto" decoding="async" width="270" height="160" src="/assets/images/stingersite.webp" alt="people">
      </picture>
      </div>
      <div class="content">
        <h2>Stingers Tattoo</h2>
        <p><b>Boise, ID.</b> I built them an awesome site that brought them to 2-3 daily form submissions</p>
        <h5 class="url">stingerstattooboise.com ></h5>
      </div>
    </a>
    <a class="item" href="https://www.truecoat.netlify.app/">
      <div class="image">
        <picture>
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="/assets/images/truecoatsiteM.webp">
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="/assets/images/truecoatsite.webp">
          <img loading="auto" decoding="async" width="270" height="160" src="/assets/images/truecoatsite.webp" alt="people">
      </picture>
      </div>
      <div class="content">
        <h2>True Coat Painting</h2>
        <p><b>Reno, NV.</b> I helped transform their basic wix site into a custom-coded professional website</p>
        <h5 class="url">truecoat.netlify.app ></h5>
      </div>
    </a>
  </div>
</section>


    {% include 'components/cta.html' %}
{% endblock %}